---
import Categories from '../../components/Categories.astro';
import Schedules from '../../components/Schedules.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<h2>スケジュール一覧</h2>
	<Categories />
	<Schedules />
</Layout>
