---
import Hamburger from "@/components/react/Hamburger";
import "../styles/global.css";
import "../styles/scss/style.scss";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>MOB - Official Web Site</title>
  </head>
  <body>
    <header class="flex">
      <h1><a href="/">MOB</a></h1>
      <Hamburger client:load />
    </header>
    <main>
      <div class="container mx-auto">
        <slot />
      </div>
    </main>
    <footer>
      <small>&copy;MOB</small>
    </footer>
  </body>
</html>
