---
import { getCategories } from "../../../lib/microcms";
import Categories from "../../../components/Categories.astro";
import Schedules from "../../../components/Schedules.astro";
import Layout from "../../../layouts/Layout.astro";
import Title from "../../../components/Title.astro";

export async function getStaticPaths() {
  const { contents } = await getCategories();
  return contents.map((item) => ({
    params: { id: item.id },
  }));
}

const { id } = Astro.params;
---

<Layout>
  <Title>スケジュール一覧</Title>
  <Categories categoryId={id} />
  <Schedules categoryId={id} />
</Layout>
